<h2>Wachtwoord kwijt?</h2>
<p>Ben je je wachtwoord kwijt, vul dan hier je emailadres in:</p>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.submit "Reset mijn wachtwoord!" %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>