<% title "Pagina's" %>

<div class="well">
	<table class="zebra-striped">
	  <tr>

	    <th>Title</th>

	    <th>Permalink</th>

	    <th>Content</th>

	    <th>Parent</th>

	    <th>Locked</th>

	    <th>Only Leden</th>

	    <th>Inactief</th>
      <th></th>
      <th></th>
      <th></th>
	  </tr>
	  <% @pages.each do |page| %>
	    <tr>

	      <td><%= page.title %></td>

	      <td><%= page.permalink %></td>

	      <td><%= page.content %></td>

	      <td><%= page.parent.title if !page.parent.nil? %></td>

	      <td><%= page.positie %></td>

	      <td><%= page.locked %></td>

	      <td><%= page.only_leden %></td>

	      <td><%= page.inactief %></td>
	      <td><%= link_to "Show", page %></td>
	      <td><%= link_to "Edit", edit_page_path(page) %></td>
	      <td><%= link_to "Destroy", page, :confirm => 'Are you sure?', :method => :delete %></td>
	    </tr>
	  <% end %>
	</table>
</div>
<p><%= link_to "Nieuwe pagina", new_page_path, :class => 'btn primary float-right' %></p>
